/*--------------------------------------------NAV---GAUCHE-------------------------------------------------*/
header{
	background-color: #3b414f;
}
header img{
	margin-top: 20px;
	
	box-shadow: 2px 2px 4px black;
}
address{
	margin: 30px 0 40px 0;
	color: #dcedf2;
	text-shadow: 1px 1px 2px black;
}
header a h4{
	color: #dcedf2;
	line-height: 60px;
	padding: 5px;
	border-top: 1px double black;
	margin: 0;
}
header a :hover{
	color: white;
	background-color: #202528;
}
header:hover a {
	text-decoration: none;
}
header svg{
	padding-right: 30px;
}
/*---------------------------------------------SECTION--------------------------------------------------*/
section{
	background-color: #c6cace;
}







/*---TANGRAM---TANGRAM---TANGRAM---TANGRAM---TANGRAM---TANGRAM---TANGRAM---TANGRAM---*/

#triangle1{
	fill: #ff000d;/*------------------------------------------------couleur fond*/
	stroke: #d10000;/*												couleur contour*/
	animation-name:triangle1;/*-------------------------------------creation nom pour animation avec keyframes*/
	animation-iteration-count: infinite;/*							répétition infini*/
	animation-duration: 10s;/*--------------------------------------temps de l'animation*/
}
#triangle2{
	fill: #ff6600;/*------------------------------------------------couleur fond*/
	animation-name:triangle2;/*										creation nom pour animation avec keyframes*/
	animation-iteration-count: infinite;/*--------------------------répétition infini*/
	animation-duration: 10s;/*										temps de l'animation*/
}
#triangle3{
	fill: #207ac9;/*------------------------------------------------couleur fond*/
	animation-name:triangle3;/*										creation nom pour animation avec keyframes*/
	animation-iteration-count: infinite;/*--------------------------répétition infini*/
	animation-duration: 10s;/*										temps de l'animation*/
}
#carré{
	fill: #f0d105;/*------------------------------------------------couleur fond*/
	animation-name:carré;/*											creation nom pour animation avec keyframes*/
	animation-iteration-count: infinite;/*--------------------------répétition infini*/
	animation-duration: 10s;/*										temps de l'animation*/
}
#triangle4{
	fill: #02bd53;/*------------------------------------------------couleur fond*/
	animation-name:triangle4;/*										creation nom pour animation avec keyframes*/
	animation-iteration-count: infinite;/*--------------------------répétition infini*/
	animation-duration: 10s;/*										temps de l'animation*/
}
#triangle5{
	fill: #af09e6;/*------------------------------------------------couleur fond*/
	animation-name:triangle5;/*										creation nom pour animation avec keyframes*/
	animation-iteration-count: infinite;/*--------------------------répétition infini*/
	animation-duration: 10s;/*										temps de l'animation*/
}
#trapèze{
	fill: #707070;/*------------------------------------------------couleur fond*/
	animation-name:trapèze;/*										creation nom pour animation avec keyframes*/
	animation-iteration-count: infinite;/*--------------------------répétition infini*/
	animation-duration: 10s;/*										temps de l'animation*/
}

/*---Anim-Tangram---Anim-Tangram---Anim-Tangram---Anim-Tangram---Anim-Tangram---Anim-Tangram---Anim-Tangram---*/

@keyframes triangle1{/*-----------------------------------------------------animation du svg*/
	0%{
		transform: rotateZ(0) translateX(0) translateY(0);/*				position à T=0s*/
		-webkit-transform: rotateZ(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) translateX(0) translateY(0);
	}
	18%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-90deg) translateX(-15px) translateY(84px); -webkit-transform: rotateZ(-90deg) translateX(-15px) translateY(84px);-moz-transform: rotateZ(-90deg) translateX(-15px) translateY(84px);
	}
	38%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-90deg) translateX(-15px) translateY(84px);-webkit-transform: rotateZ(-90deg) translateX(-15px) translateY(84px);-moz-transform: rotateZ(-90deg) translateX(-15px) translateY(84px);
	}
	50%{/*------------------------------------------------------------------position T = 3s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(45deg) translateX(14px) translateY(5px);-webkit-transform: rotateZ(45deg) translateX(14px) translateY(5px);-moz-transform: rotateZ(45deg) translateX(14px) translateY(5px);/*	*/
	}
	70%{/*------------------------------------------------------------------position T = 6s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(45deg) translateX(14px) translateY(5px);-webkit-transform: rotateZ(45deg) translateX(14px) translateY(5px);-moz-transform: rotateZ(45deg) translateX(14px) translateY(5px);/*	*/
	}*/
	85%{/*------------------------------------------------------------------position T = 8s*/
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*-----revient position initial*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	100%{/*-----------------------------------------------------------------position T = 10s*/
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		position statique*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
}
@keyframes triangle2{/*-----------------------------------------------------animation du svg*/
	0%{
		transform: rotateZ(0) translateX(0) translateY(0);/*				position à T=0s*/
		-webkit-transform: rotateZ(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) translateX(0) translateY(0);
	}
	18%{	
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-135deg) translateX(-15px) translateY(35px);-webkit-transform: rotateZ(-135deg) translateX(-15px) translateY(35px);-moz-transform: rotateZ(-135deg) translateX(-15px) translateY(35px);
	}
	38%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-135deg) translateX(-15px) translateY(35px);-webkit-transform: rotateZ(-135deg) translateX(-15px) translateY(35px);-moz-transform: rotateZ(-135deg) translateX(-15px) translateY(35px);
	}
	50%{/*------------------------------------------------------------------position T = 3s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;/*------------------------------------modification du point d'origine pour effectuer les translation et rotation*/
		transform: rotateZ(315deg) translateX(33px) translateY(10px);/*		mouvement à effectuer*/
		-webkit-transform: rotateZ(315deg) translateX(33px) translateY(10px);-moz-transform: rotateZ(315deg) translateX(33px) translateY(10px);
	}
	70%{/*------------------------------------------------------------------position T = 6s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(315deg) translateX(33px) translateY(10px);/*		mouvement à effectuer*/
		-webkit-transform: rotateZ(315deg) translateX(33px) translateY(10px);-moz-transform: rotateZ(315deg) translateX(33px) translateY(10px);
	}
	85%{/*------------------------------------------------------------------position T = 8s*/
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		revient position initial*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	100%{/*-----------------------------------------------------------------position T = 10s*/
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		position statique*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
}
@keyframes triangle3{/*-----------------------------------------------------animation du svg*/
	0%{
		transform: rotateZ(0) translateX(0) translateY(0);/*				position à T=0s*/
	}
	18%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-90deg) translateX(-22px) translateY(75px);-webkit-transform: rotateZ(-90deg) translateX(-22px) translateY(75px);-moz-transform: rotateZ(-90deg) translateX(-22px) translateY(75px);
	}
	38%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-90deg) translateX(-22px) translateY(75px);-webkit-transform: rotateZ(-90deg) translateX(-22px) translateY(75px);-moz-transform: rotateZ(-90deg) translateX(-22px) translateY(75px);
	}
	50%{/*------------------------------------------------------------------position T = 3s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(0) translateX(18px) translateY(-1px);/*			mouvement à effectuer*/
		-webkit-transform: rotateZ(0) translateX(18px) translateY(-1px);-moz-transform: rotateZ(0) translateX(18px) translateY(-1px);
	}
	70%{/*------------------------------------------------------------------position T = 6s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(0) translateX(18px) translateY(-1px);/*			mouvement à effectuer*/
		-webkit-transform: rotateZ(0) translateX(18px) translateY(-1px);-moz-transform: rotateZ(0) translateX(18px) translateY(-1px);
	}
	85%{/*------------------------------------------------------------------position T = 8s*/
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		revient position initial*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	100%{/*-----------------------------------------------------------------position T = 10s*/
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		position statique*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
}
@keyframes trapèze{/*-------------------------------------------------------animation du svg*/
	0%{
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*			*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	18%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-45deg) translateX(40px) translateY(40px);-webkit-transform: rotateZ(-45deg) translateX(40px) translateY(40px);-moz-transform: rotateZ(-45deg) translateX(40px) translateY(40px);
	}
	38%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-45deg) translateX(40px) translateY(40px);-webkit-transform: rotateZ(-45deg) translateX(40px) translateY(40px);-moz-transform: rotateZ(-45deg) translateX(40px) translateY(40px);
	}
	50%{/*------------------------------------------------------------------position T = 3s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(45deg) translateX(-41px) translateY(40px);/*		mouvement à effectuer*/
		-webkit-transform: rotateZ(45deg) translateX(-41px) translateY(40px);-moz-transform: rotateZ(45deg) translateX(-41px) translateY(40px);
	}
	70%{/*------------------------------------------------------------------position T = 6s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(45deg) translateX(-41px) translateY(40px);/*		mouvement à effectuer*/
		-webkit-transform: rotateZ(45deg) translateX(-41px) translateY(40px);-moz-transform: rotateZ(45deg) translateX(-41px) translateY(40px);
	}
	85%{/*------------------------------------------------------------------position T = 8s*/
		transform: rotateZ(0) translateX(0) translateY(0);/*				revient position initial*/
	-webkit-transform: rotateZ(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) translateX(0) translateY(0);
	}
	100%{/*-----------------------------------------------------------------position T = 10s*/
		transform: rotateZ(0) translateX(0) translateY(0);/*				position statique*/
	-webkit-transform: rotateZ(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) translateX(0) translateY(0);
	}
}
@keyframes carré{/*---------------------------------------------------------animation du svg*/
	0%{
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		position à T=0s*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	18%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-90deg) translateX(-40px) translateY(13px);
		-webkit-transform: rotateZ(-90deg) translateX(-40px) translateY(13px);-moz-transform: rotateZ(-90deg) translateX(-40px) translateY(13px);
	}
	38%{
			transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-90deg) translateX(-40px) translateY(13px);
		-webkit-transform: rotateZ(-90deg) translateX(-40px) translateY(13px);-moz-transform: rotateZ(-90deg) translateX(-40px) translateY(13px);
	}
	50%{/*------------------------------------------------------------------position T = 3s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform:  rotateZ(0deg) translateX(18px) translateY(-2px);/*		mouvement à effectuer*/
		-webkit-transform:  rotateZ(0deg) translateX(18px) translateY(-2px);-moz-transform:  rotateZ(0deg) translateX(18px) translateY(-2px);
	}
	70%{/*------------------------------------------------------------------position T = 6s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(0deg) translateX(18px) translateY(-2px);/*		mouvement à effectuer*/
		-webkit-transform:  rotateZ(0deg) translateX(18px) translateY(-2px);-moz-transform:  rotateZ(0deg) translateX(18px) translateY(-2px);
	}
	85%{/*------------------------------------------------------------------position T = 8s*/
		transform: rotateZ(0)  translateX(0) translateY(0);/*				revient position initial*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	100%{/*-----------------------------------------------------------------position T = 10s*/
		transform: rotateZ(0)  translateX(0) translateY(0);/*				position statique*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
}
@keyframes triangle4{/*-----------------------------------------------------animation du svg*/
	0%{
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		position à T=0s*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	18%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(180deg) translateX(18px) translateY(-10px);
		-webkit-transform: rotateZ(180deg) translateX(18px) translateY(-10px);-moz-transform: rotateZ(180deg) translateX(18px) translateY(-10px);
	}
	38%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(180deg) translateX(18px) translateY(-10px);
		-webkit-transform: rotateZ(180deg) translateX(18px) translateY(-10px);-moz-transform: rotateZ(180deg) translateX(18px) translateY(-10px);
	}
	50%{/*------------------------------------------------------------------position T = 3s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform:  rotateZ(180deg) translateX(-16px) translateY(31px);/*	mouvement à effectuer*/
		-webkit-transform:  rotateZ(180deg) translateX(-16px) translateY(31px);-moz-transform:  rotateZ(180deg) translateX(-16px) translateY(31px);
	}
	70%{/*------------------------------------------------------------------position T = 6s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform:  rotateZ(180deg) translateX(-16px) translateY(31px);/*	mouvement à effectuer*/
		-webkit-transform:  rotateZ(180deg) translateX(-16px) translateY(31px);-moz-transform:  rotateZ(180deg) translateX(-16px) translateY(31px);
	}
	85%{/*------------------------------------------------------------------position T = 8s*/
		transform: rotateZ(0)  translateX(0) translateY(0);/*				revient position initial*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	100%{/*-----------------------------------------------------------------position T = 10s*/
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		position statique*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
}

@keyframes triangle5{/*----------------------------------------------------animation du svg*/
	0%{
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		position à T=0s*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	18%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(180deg) translateX(-15px) translateY(-10px);
		-webkit-transform: rotateZ(180deg) translateX(-15px) translateY(-10px);-moz-transform: rotateZ(180deg) translateX(-15px) translateY(-10px);
	}
	38%{
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(180deg) translateX(-15px) translateY(-10px);
		-webkit-transform: rotateZ(180deg) translateX(-15px) translateY(-10px);-moz-transform: rotateZ(180deg) translateX(-15px) translateY(-10px);
	}
	50%{/*------------------------------------------------------------------position T = 3s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform:  rotateZ(-180deg) translateX(-50px) translateY(31px);/*	mouvement à effectuer*/
		-webkit-transform:  rotateZ(-180deg) translateX(-50px) translateY(31px);-moz-transform:  rotateZ(-180deg) translateX(-50px) translateY(31px);
	}
	70%{/*------------------------------------------------------------------position T = 6s*/
		transform-origin: bottom left;-webkit-transform-origin: bottom left;-moz-transform-origin: bottom left;
		transform: rotateZ(-180deg) translateX(-50px) translateY(31px);/*	mouvement à effectuer*/
		-webkit-transform:  rotateZ(-180deg) translateX(-50px) translateY(31px);-moz-transform:  rotateZ(-180deg) translateX(-50px) translateY(31px);
	}
	85%{/*------------------------------------------------------------------position T = 8s*/
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		revient position initial*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
	100%{/*-----------------------------------------------------------------position T = 10s*/
		transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);/*		position statique*/
		-webkit-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);-moz-transform: rotateZ(0) rotateX(0) translateX(0) translateY(0);
	}
}