//---------variables color----------//
$color_1:#B0713E;
$color_2:#1C1712;
$color_3:#462C16;
$color_4:#FFA962;
$color_5:#FF7D11;
$color_text:#FFF;
$color_shadow:#8E8883;
$color_text_nav:#eee;
$color_text_nav_shadow:#fff;
$color_h2:#eca603;
$color_background:#000;

//--------variables font police-------//
$font_1:'Ranga', cursive;
$font_2:'Pacifico', cursive;
$font_3:'Audiowide', cursive;

//-------------images---------------//
$img_slide_1:'f.jpg';
$img_slide_2:'bio.jpg';
$img_slide_3:'dark.png';

//------------var anim--------------//
$position_1:background-position;
$position_2:top;
$position_3:all;
$cubic-bezier_1:1.35;
$cubic-bezier_2:1;

//-------------import_scss-----------//
@import '_tangram';

//--------------MIXIN---------------//

@mixin anim($var_position, $valeur_bezier){
	-webkit-transition: $var_position 1.4s  cubic-bezier(.49,.22,.52,1);
	-moz-transition: $var_position 1.4s cubic-bezier(.49,.22,.52,$valeur_bezier);
	-ms-transition: $var_position 1.4s  cubic-bezier(.49,.22,.52,$valeur_bezier);
	-o-transition: $var_position 1.4s  cubic-bezier(.49,.22,.52,$valeur_bezier);
	transition: $var_position 1.4s  cubic-bezier(.49,.22,.52,$valeur_bezier);
}
@mixin animSlide{
	height: 1000px;
	padding-top:100px;
	@include anim($position_1, $cubic-bezier_1);
}
@mixin text_nav($colorText, $colorShadow){
	//display: inline-block;
	//margin: 0 3em;
	color: $colorText;
	text-transform: uppercase;
	//text-decoration: none;
	text-shadow: 0 0 5px $colorShadow;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
/*
@mixin img_1_2(){
	position: absolute;
	left:-180px; top: 300px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	@include anim($position_3, $cubic-bezier_2);
}
*/
@mixin slide-inside($padding-bottom){
	//width: 770px;
	//margin: 0 auto;
	position: relative;
	background-color: rgba(0, 0, 0, .6);
	padding: 50px;
	padding-bottom: $padding-bottom;
}
//---------------SCSS--------------------//
body {
	margin: 0;
	padding: 0;
	color:$color_text;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: $color_background;
	#wrap {
		position: relative;
		top:0;
		@include anim($position_2, $cubic-bezier_1);
		h2 {
			margin-top:0;
			font-weight:bold;
			color: $color_h2;
		}
		a {
			font-weight:bold;
			color:$color_text;
		}
		#nav {
			position: fixed;
			top: 0; left:0; right: 0;
			padding: 1em 0;
		//	margin:0;
			background: $color_background;
		//	text-align:center;
			font-size: 1em;
			z-index:10;
			li {
			//	display: inline;
			//	margin:0;
				a {
					@include text_nav($color_text_nav, $color_text_nav_shadow );
				}
			}
		}
		#slide1{
			@include animSlide();
			background:url('../../img/'+$img_slide_1) center 0 no-repeat fixed;
			.slide_inside{
				//@include slide-inside(20px);
				background-color: transparent;
				h1{
					color:$color_text;
					font-family:$font_3;
					text-shadow:2px 2px 4px $color_shadow;
				}
				#photo_profil{
					width:250px;
					box-shadow: 1px 1px 6px $color_shadow;
					margin-bottom:10px;
				}
			}
		}
		#slide2{
			@include animSlide();
			background:url('../../img/'+$img_slide_2) center 0 no-repeat fixed;
			.slide_inside{
				@include slide-inside(0px);
			/*	#img1{
					width:150px;
					@include img_1_2();
				}
				#img2 {
					left: -280px;
					top: 400px;
					width:100px;
					@include img_1_2();
				}*/
			}
			#nav_slide2{
				@include text_nav($color_text, $color_2);
				a{
					color:$color_text;
				}
				p{
					width: 500px;
				}
			}
			figure{
				margin-top:-80px;
			}
		}
		#slide3{
			@include animSlide();
			background:url('../../img/'+$img_slide_3) center 0 no-repeat fixed;
			a{
				font-weight:normal;
			}
			.slide_inside{
				@include slide-inside(20px);
				margin-bottom: 50px;
				height:350px;
			}
			#map{
				border:1px solid black;
				box-shadow: 4px 4px 2px $color_shadow;
				//width:400px;
				height:270px;
			}
			form{
				legend{
					color:$color_text;
					text-shadow:$color_shadow;
				}
			}
		}
		
	}
}

#s1:target ~ #wrap { top:0px; }
#s1:target ~ #wrap #nav li:first-child a { text-shadow: 0 0 5px $color_h2, 0 0 5px $color_h2, 0 0 5px $color_h2, 0 0 5px $color_h2; }
#s1:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s1:target ~ #wrap #slide2 { background-position: 50% -35%; }
#s1:target ~ #wrap #slide3 { background-position: 50% -60%; }
//#s1:target ~ #wrap #img1 { left: -180px; top: 300px; -webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-o-transform: rotate(10deg);transform: rotate(10deg); }
//#s1:target ~ #wrap #img2 { left: -280px; top: 300px;-webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-o-transform: rotate(10deg);transform: rotate(10deg); }

#s2:target ~ #wrap { top:-1000px; }
#s2:target ~ #wrap #nav li:first-child + li a { text-shadow: 0 0 5px $color_h2, 0 0 5px $color_h2, 0 0 5px $color_h2, 0 0 5px $color_h2; }
#s2:target ~ #wrap #slide1 { background-position: 50% 36%; }
#s2:target ~ #wrap #slide2 { background-position: 50% 0%; }
#s2:target ~ #wrap #slide3 { background-position: 50% -30%; }
//#s2:target ~ #wrap #img1 { left: -180px; top: -100px; -webkit-transform: rotate(-7deg);-moz-transform: rotate(-7deg);-ms-transform: rotate(-7deg);-o-transform: rotate(-7deg);transform: rotate(-7deg); }
//#s2:target ~ #wrap #img2 { left: -350px; top: 50px; -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg);transform: rotate(0deg); }

#s3:target ~ #wrap { top:-2000px; }
#s3:target ~ #wrap #nav li:last-child a { text-shadow: 0 0 5px $color_h2, 0 0 5px $color_h2, 0 0 5px $color_h2, 0 0 5px $color_h2; }
#s3:target ~ #wrap #slide1 { background-position: 50% 60%; }
#s3:target ~ #wrap #slide2 { background-position: 50% 35%; }
#s3:target ~ #wrap #slide3 { background-position: 50% 0%; }
//#s3:target ~ #wrap #img1 { left:-1500px;top:-1000px;-webkit-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform: rotate(-15deg); }
//#s3:target ~ #wrap #img2 { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }


//----------------------------refacto-----------------------// 

//probleme avec $slide_name et $slide_parent
//probleme avec :target et ~ 

/*
@mixin target($top_target, $slide_name, $slide_parent, $pos_slide_1, $pos_slide_2, $pos_slide_3, $img1_left, $img1_top, $img1_deg, $img2_left, $img2_top, $img2_deg){
	$slide_name+:target ~ #wrap { top:$top_target; }
	$slide_name+:target ~ #wrap #nav $slide_parent { text-shadow: 0 0 5px $color_h2, 0 0 5px $color_h2, 0 0 5px $color_h2, 0 0 5px $color_h2; }
	$slide_name+:target ~ #wrap #slide1 { background-position: 50% 0%; }
	$slide_name+:target ~ #wrap #slide2 { background-position: 50% -35%; }
	$slide_name+:target ~ #wrap #slide3 { background-position: 50% -60%; }
	//$slide_name+:target ~ #wrap #img1 { left: $img1_left; top: $img1_top; -webkit-transform: rotate($img1_deg);-moz-transform: rotate($img1_deg);-ms-transform: rotate($img1_deg);-o-transform: rotate($img1_deg);transform: rotate($img1_deg); }
	//$slide_name+:target ~ #wrap #img2 { left: $img2_left; top: $img2_top;-webkit-transform: rotate($img2_deg);-moz-transform: rotate($img2_deg);-ms-transform: rotate($img2_deg);-o-transform: rotate($img2_deg);transform: rotate($img2_deg); }	
}

@include target(0px, #s1, li:first-child a, 0%, -35%, -60%, -180px, 300px, 10deg, -280px, 300px, 10deg);
@include target(-1000px, #s2, li:first-child + li a, 36%, 0%, -30%, -180px, -100px, -7deg, -350px, 50px,0deg);
@include target(-2150px, #s3, li:last-child a, 60%, 35%, 0%, -1500px, -1000px, -15deg, -1000px, -800px, -15deg);
*/
//------------------------fin refacto----------------------------//


