//---------variables color----------//
$color_1:#B0713E;
$color_2:#1C1712;
$color_3:#462C16;
$color_4:#FFA962;
$color_5:#FF7D11;
$color_text:#FFF;
$color_shadow:#8E8883;

//--------variables font police-------//
$font_1:'Ranga', cursive;
$font_2:'Pacifico', cursive;
$font_3:'Audiowide', cursive;

//-------------imgages---------------//
$img_slide_1:'f.jpg';
$img_slide_2:'laptop.jpg';
$img_slide_3:'dark.png';

//-------------import_scss-----------//
@import '_tangram';

@mixin animSlide{
	height: 1000px;
	padding-top:100px;
	-webkit-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1);
	-moz-transition: background-position 1.4s cubic-bezier(.49,.22,.52,1.35);
	-ms-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	-o-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
}

@mixin text_nav($colorText, $colorShadow){
	display: inline-block;
	margin: 0 3em;
	color: $colorText;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 0 5px $colorShadow;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

body {
	margin: 0;
	padding: 0;
	color:#fff;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: #000;
	#wrap {
		position: relative;
		top:0;
		-webkit-transition: top 1.4s cubic-bezier(.49,.22,.52,1);
		-moz-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
		-ms-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
		-o-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
		transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
		#nav {
			position: fixed;
			top: 0; left:0; right: 0;
			padding: 1em 0;
			margin:0;
			background: #000;
			text-align:center;
			font-size: 1em;
			z-index:10;
			li {
				display: inline;
				margin:0;
				a {
					@include text_nav(#eee, #fff );
				}

			}
		}
		#slide1{
			@include animSlide();
			background:url('../../img/'+$img_slide_1) center 0 no-repeat fixed;
		}
		#slide2{
			@include animSlide();
			background:url('../../img/'+$img_slide_2) center 0 no-repeat fixed;
			#nav_slide2{
				@include text_nav(#FFF, $color_2);
				a{
					color:$color_text;
				}
			}
			figure{
				margin-top:-80px;
			}
		}
		#slide3{
			@include animSlide();
			background:url('../../img/'+$img_slide_3) center 0 no-repeat fixed;
			#map{
				box-shadow: 2px 2px 4px $color_shadow;
			}
		}
		
	}
	h2 {
		margin-top:0;
		font-weight:bold;
		color: #eca603;
	a {
		font-weight:bold;
		color:#fff;
	}
	}
	form{
		legend{
			color:$color_text;
			text-shadow:$color_shadow;
		}
	}
}
.slide_inside {
	width: 770px;
	margin: 0 auto;
	position: relative;
	background-color: rgba(0, 0, 0, .6);
	padding: 50px;
	padding-bottom: 0px;
	h1{
		color:$color_text;
		font-family:$font_3;
		text-shadow:2px 2px 4px $color_shadow;
	}
	#photo_profil{
		width:250px;
		box-shadow: 1px 1px 6px $color_shadow;
		margin-bottom:10px;
	}
}

#slide1 .slide_inside {
	text-align: center;
	background-color: transparent;
}
#slide2 .slide_inside p {
	width: 500px;
	text-align: justify;
}
#slide3 .slide_inside {
	margin-top: 50px;
}


/* guitare & note */

#img1{
	width:150px;
}

#img1, #img2 {
	position: absolute;
	left:-180px; top: 300px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	-webkit-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	-moz-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	-ms-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	-o-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	transition: all 1.4s cubic-bezier(.49,.22,.52,1);
}
#img2 {
	left: -280px;
	top: 400px;
	width:100px;
}


/* targeted elements */

#s1:target ~ #wrap { top:0px; }
#s1:target ~ #wrap #nav li:first-child a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s1:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s1:target ~ #wrap #slide2 { background-position: 50% -35%; }
#s1:target ~ #wrap #slide3 { background-position: 50% -60%; }
#s1:target ~ #wrap #img1 { left: -180px; top: 300px; -webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-o-transform: rotate(10deg);transform: rotate(10deg); }
#s1:target ~ #wrap #img2 { left: -280px; top: 300px;-webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-o-transform: rotate(10deg);transform: rotate(10deg); }

#s2:target ~ #wrap { top:-1000px; }
#s2:target ~ #wrap #nav li:first-child + li a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s2:target ~ #wrap #slide1 { background-position: 50% 36%; }
#s2:target ~ #wrap #slide2 { background-position: 50% 0%; }
#s2:target ~ #wrap #slide3 { background-position: 50% -30%; }
#s2:target ~ #wrap #img1 { left: -180px; top: -100px; -webkit-transform: rotate(-7deg);-moz-transform: rotate(-7deg);-ms-transform: rotate(-7deg);-o-transform: rotate(-7deg);transform: rotate(-7deg); }
#s2:target ~ #wrap #img2 { left: -350px; top: 50px; -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg);transform: rotate(0deg); }


#s3:target ~ #wrap { top:-2150px; }
#s3:target ~ #wrap #nav li:last-child a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s3:target ~ #wrap #slide1 { background-position: 50% 60%; }
#s3:target ~ #wrap #slide2 { background-position: 50% 35%; }
#s3:target ~ #wrap #slide3 { background-position: 50% 0%; }
#s3:target ~ #wrap #img1 { left:-1500px;top:-1000px;-webkit-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform: rotate(-15deg); }
#s3:target ~ #wrap #img2 { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }


/* some social styles */

.fb-like { top: -5px; }
.or_follow { display: inline-block; vertical-align:top; margin-left: 135px; margin-right: 5px; }




/*
body{
	background-color:$color_1;
	header{
		background-color:$color_2;
		color:$color_text;
	}
	#header_name{
		background-image:url('../../img/'+$img_2+'');
		background-size: 100%;
		z-index:-1;
		transition:0.5s;
		h1{
			color:$color_text;
			font-family:$font_3;
			text-shadow:2px 2px 4px $color_shadow;
		}
		img{
			width:150px;
			box-shadow: 1px 1px 6px $color_shadow;
			margin-bottom:10px;
		}
	}
	#bandeau_bas{
		background-color:$color_2;
		//height:20px;
		z-index:10;
	}
	.para{
		height:50px;;
	}
	article{
	}
}
*/


